
html {
    /*background-color: #0d1117;*/
    /*gradient background*/
    background: -moz-linear-gradient(25deg, #000000 0%, #ffffff 100%);
    color: #ffffff;
    font-family: "Ubuntu", serif;
}

a {
    color: wheat;
}

center {
    text-align: center;
}
