
html {
    background-color: #0d1117;
    color: #ffffff;
    font-family: "Ubuntu", serif;
}

a {
    color: wheat;
}

center {
    text-align: center;
}

.archived_warning {
    color: #ff0000;
    font-size: 20px;
    font-weight: bold;
}
